h1,
p {
  margin: 2rem auto;
}

#check-btn {
  font-size:larger;
  
  display: block;
  margin: auto;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: var(--primary-color);

}

.angles {
  text-align: center;
  border-radius: 1rem;
  font-size: large;
}
